* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.container{
    width: 70%;
    margin: 0 auto;
    height: 100%;
}

nav .main-menu,
nav .main-logo,
nav .personal-space {
    flex-basis: 33%;
}

nav>ul {
    display: inline-block;
}

.main-menu ul {
    margin: 1rem;
}

.main-logo {
    text-align: center;
}

.personal-space {
    text-align: end;
}