* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.container{
    width: 70%;
    margin: 0 auto;
    height: 100%;
}

header {
    background-color: #ff6900;
    color: white;
}

nav .main-menu,
nav .main-logo,
nav .personal-area {
    flex-basis: 33%;
}

ul>li {
    display: inline-block;
    margin: .8rem;
}

.main-logo {
    text-align: center;
}

.main-logo img {
    width: 10rem;
    padding: .5rem;
}

.personal-area {
    justify-content: end;
}

.products-row {
    margin-top: 2rem;
}

.products-row article {
    flex-basis: calc(80% / 3 - 3rem);
    position: relative;
    margin-right: 1rem;
}

#tee1 {
    width: 28rem;
}

.discount {
    position: absolute;
    bottom: 10%;
    left: 0;
    background-color: red;
    padding: .5rem;
}

.sustainability {
    position: absolute;
    bottom: 10%;
    left: 54px;
    background-color: green;
    padding: .5rem;
}

.favourite {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: .5rem 1rem;
    font-size: 2rem;
    text-align: center;
}